@font-face{font-family:'Lato';src:url('/fonts/Lato-Thin.woff2') format('woff2');font-weight:100;font-style:normal;font-display:swap}
@font-face{font-family:'Lato';src:url('/fonts/Lato-ThinItalic.woff2') format('woff2');font-weight:100;font-style:italic;font-display:swap}
@font-face{font-family:'Lato';src:url('/fonts/Lato-Light.woff2') format('woff2');font-weight:300;font-style:normal;font-display:swap}
@font-face{font-family:'Lato';src:url('/fonts/Lato-LightItalic.woff2') format('woff2');font-weight:300;font-style:italic;font-display:swap}
@font-face{font-family:'Lato';src:url('/fonts/Lato-Black.woff2') format('woff2');font-weight:900;font-style:normal;font-display:swap}
@font-face{font-family:'Lato';src:url('/fonts/Lato-BlackItalic.woff2') format('woff2');font-weight:900;font-style:italic;font-display:swap}
